&lt;div id=&quot;login-full-wrapper&quot; style=&quot;background: url('{{ background-image }}') no-repeat scroll center center&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-12&quot;&gt;
                &lt;div id=&quot;login-box&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-xs-12&quot;&gt;
                            &lt;header id=&quot;login-header&quot;&gt;
                                &lt;div id=&quot;login-logo&quot;&gt;
                                    &lt;img src=&quot;{{ logosource }}&quot; alt=&quot;&quot; style=&quot;width:60%; height:60%;&quot;/&gt;
                                &lt;/div&gt;
                            &lt;/header&gt;
                            &lt;div id=&quot;login-box-inner&quot;&gt;
                                &lt;h4 class=&quot;text-center&quot;&gt;Create your Better Weekdays account at {{ college }}&lt;/h4&gt;
                                {{&gt; molecules-register }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;