&lt;!-- Begin .header --&gt;
&lt;header class=&quot;navbar&quot; id=&quot;header-navbar&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;a href=&quot;#&quot; id=&quot;logo&quot; class=&quot;navbar-brand&quot;&gt;
            &lt;img src=&quot;../../../img/bw_logo_white.png&quot; alt=&quot;&quot; class=&quot;normal-logo logo-white&quot;&gt;
            &lt;img src=&quot;../../../img/bw_logo_grey.png&quot; alt=&quot;&quot; class=&quot;normal-logo logo-black&quot;&gt;
            &lt;img src=&quot;../../../img/bw_logo_grey.png&quot; alt=&quot;&quot; class=&quot;small-logo hidden-xs hidden-sm hidden&quot;&gt;
        &lt;/a&gt;

        &lt;div class=&quot;clearfix&quot;&gt;
            &lt;button class=&quot;navbar-toggle&quot; data-target=&quot;.navbar-ex1-collapse&quot; data-toggle=&quot;collapse&quot; type=&quot;button&quot;&gt;
                &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
                &lt;span class=&quot;fa fa-bars&quot;&gt;&lt;/span&gt;
                &lt;span class=&quot;x-small&quot;&gt;Menu&lt;/span&gt;
            &lt;/button&gt;

            &lt;div class=&quot;nav-no-collapse navbar-left pull-left hidden-sm hidden-xs&quot;&gt;
                &lt;ul class=&quot;nav navbar-nav pull-left&quot;&gt;
                    &lt;li&gt;
                        &lt;a class=&quot;btn&quot; id=&quot;make-small-nav&quot;&gt;
                            &lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;

            &lt;div class=&quot;nav-no-collapse pull-right&quot; id=&quot;header-nav&quot;&gt;
                &lt;ul class=&quot;nav navbar-nav pull-right&quot;&gt;
                    {{# jobseeker }}
                    &lt;li class=&quot;dropdown&quot;&gt;
                        &lt;a class=&quot;btn dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
                            &lt;i class=&quot;fa fa-bell-o&quot;&gt;&lt;/i&gt;
                            &lt;span class=&quot;count&quot;&gt;4&lt;/span&gt;
                        &lt;/a&gt;
                        &lt;ul class=&quot;dropdown-menu notifications-list&quot;&gt;
                            &lt;li class=&quot;pointer&quot;&gt;
                                &lt;div class=&quot;pointer-inner&quot;&gt;
                                    &lt;div class=&quot;arrow&quot;&gt;&lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;item-header&quot;&gt;You have 4 new matches&lt;/li&gt;
                            &lt;li class=&quot;item&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;
                                    &lt;span class=&quot;content&quot;&gt;Certified Medical Assistant : Veterans Affairs Hospital : Chicago, IL&lt;/span&gt;
                                    &lt;span class=&quot;time&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;1 day ago&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;item&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;
                                    &lt;span class=&quot;content&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt; | BJC Healthcare | St. Louis, IL&lt;/span&gt;
                                    &lt;span class=&quot;time&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;1 day ago&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;item&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;
                                    &lt;span class=&quot;content&quot;&gt;Medical Assistant - Veterans Affairs Regional Hospital - Peoria, IL&lt;/span&gt;
                                    &lt;span class=&quot;time&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;3 days ago&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;item&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;
                                    &lt;span class=&quot;content&quot;&gt;Certified Medical Assistant - Veterans Affairs - Bloomington, IL&lt;/span&gt;
                                    &lt;span class=&quot;time&quot;&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;1 day ago&lt;/span&gt;
                                &lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li class=&quot;item-footer&quot;&gt;
                                &lt;a href=&quot;#&quot;&gt;
                                    View all matches
                                &lt;/a&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/li&gt;
                    {{/jobseeker}}
                    &lt;li class=&quot;dropdown&quot;&gt;
                        &lt;a href=&quot;#&quot;&gt;&lt;span&gt;My Awesome Organization&lt;/span&gt;&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;dropdown profile-dropdown&quot;&gt;
                        &lt;a href=&quot;#&quot; class=&quot;dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
                            &lt;span class=&quot;hidden-xs&quot;&gt;john@email.com&lt;/span&gt; &lt;b class=&quot;caret&quot;&gt;&lt;/b&gt;
                        &lt;/a&gt;
                        &lt;ul class=&quot;dropdown-menu&quot;&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-user&quot;&gt;&lt;/i&gt;Profile&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-cog&quot;&gt;&lt;/i&gt;Settings&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-envelope-o&quot;&gt;&lt;/i&gt;Messages&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-power-off&quot;&gt;&lt;/i&gt;Logout&lt;/a&gt;&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;