&lt;div class=&quot;main-box-body clearfix&quot;&gt;
    &lt;ul class=&quot;list-group to-dos&quot;&gt;
        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
            &lt;strong&gt;&lt;i class=&quot;fa fa-users&quot;&gt;&lt;/i&gt; Students&lt;/strong&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-10&quot;&gt;Review &lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost's resume&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-10&quot;&gt;Respond to &lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;John Smith's&lt;/a&gt; message&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
            &lt;strong&gt;&lt;i class=&quot;fa fa-thumb-tack&quot;&gt;&lt;/i&gt; Getting Started&lt;/strong&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Contact at least 5 students&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
            &lt;strong&gt;&lt;i class=&quot;fa fa-life-saver&quot;&gt;&lt;/i&gt; Career Services&lt;/strong&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Respond to pending messages&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Review applicants&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item to-do-item-title&quot;&gt;
            &lt;strong&gt;&lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt; Jobs&lt;/strong&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Add salary information for &lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;&lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/a&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Post 5 jobs&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
            &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                    &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
