&lt;div class=&quot;col-lg-8&quot;&gt;
    &lt;div class=&quot;main-box&quot;&gt;
        &lt;header class=&quot;main-box-header clearfix&quot;&gt;
            &lt;h2&gt;Assessment Ready&lt;/h2&gt;
        &lt;/header&gt;

        &lt;div class=&quot;main-box-body clearfix&quot;&gt;
            &lt;div class=&quot;col-md-12&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;p&gt;Your assessment is ready to view for $15. Please pay by &lt;a href=&quot;#&quot;&gt;Stripe&lt;/a&gt; or &lt;a href=&quot;#&quot;&gt;Paypal&lt;/a&gt;.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;p&gt;Not sure? &lt;a href=&quot;#&quot;&gt;View an example&lt;/a&gt; assessment.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;