&lt;div class=&quot;main-box-body clearfix&quot;&gt;
    &lt;ul class=&quot;list-group&quot;&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;strong&gt;Resume for Personalized Jobs&lt;/strong&gt;&amp;nbsp;&lt;a data-original-title=&quot;The resume used for matches&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            JohnnyAwesome.pdf (&lt;a href=&quot;#&quot;&gt;download&lt;/a&gt;)
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            {{&gt; molecules-upload-element }}
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Upload Resume for Personalized Jobs&lt;/button&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    &lt;ul class=&quot;list-group&quot;&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;strong&gt;Additional Resumes&lt;/strong&gt;&amp;nbsp;&lt;a data-original-title=&quot;Additional resumes for reviewing, applying to jobs, and storing for later&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-lg-6&quot;&gt;
                JohnnyAwesome_Accountant.pdf (&lt;a href=&quot;#&quot;&gt;download&lt;/a&gt;)
            &lt;/div&gt;
            &lt;div class=&quot;col-lg-6&quot;&gt;
                &lt;button class=&quot;btn btn-danger&quot;&gt;&lt;i class=&quot;fa fa-trash-o&quot;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            &lt;div class=&quot;col-lg-6&quot;&gt;
                JohnnyAwesome_Finance.pdf (&lt;a href=&quot;#&quot;&gt;download&lt;/a&gt;)
            &lt;/div&gt;
            &lt;div class=&quot;col-lg-6&quot;&gt;
                &lt;button class=&quot;btn btn-danger&quot;&gt;&lt;i class=&quot;fa fa-trash-o&quot;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
            {{&gt; molecules-upload-element }}
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Upload Additional Resume&lt;/button&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;