&lt;div class=&quot;row&quot;&gt;
    {{# overall-count }}
        &lt;div class=&quot;col-lg-12&quot;&gt;
            &lt;div class=&quot;main-box infographic-box-reverse&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-xs-10 text-left&quot;&gt;
                        &lt;div class=&quot;col-xs-4&quot;&gt;
                            &lt;a href=&quot;{{ link }}&quot;&gt;
                                &lt;i class=&quot;fa {{ icon }} {{ bg-color }}&quot;&gt;&lt;/i&gt;
                                &lt;span class=&quot;headline&quot;&gt;{{ headline }}&lt;/span&gt;
                            &lt;/a&gt;
                            &lt;p class=&quot;value&quot;&gt;
                                &lt;span class=&quot;timer&quot; data-from=&quot;{{ start }}&quot; data-to=&quot;{{ finish }}&quot; data-speed=&quot;900&quot; data-refresh-interval=&quot;60&quot;&gt;
                                    {{ value }}
                                &lt;/span&gt;
                            &lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-xs-4 text-center&quot;&gt;
                            &lt;h4 class=&quot;green&quot;&gt;&lt;strong&gt;{{ 7num}}&lt;/strong&gt;&lt;/h4&gt;
                            &lt;h5&gt;&lt;strong&gt;7 days ago&lt;/strong&gt;&lt;/h5&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-xs-4 text-center&quot;&gt;
                            &lt;h4 class=&quot;green&quot;&gt;&lt;strong&gt;{{ 30num }}&lt;/strong&gt;&lt;/h4&gt;
                            &lt;h5&gt;&lt;strong&gt;30 days ago&lt;/strong&gt;&lt;/h5&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-xs-2 text-right&quot;&gt;
                        &lt;p&gt;
                            &lt;em&gt;Updated today&lt;/em&gt;
                        &lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    {{/overall-count}}
&lt;/div&gt;