&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-cs-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;Student Activity&lt;/h2&gt;
                                    &lt;/header&gt;
                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;form-group col-md-4&quot;&gt;
                                                &lt;label for=&quot;datepickerDateRange&quot;&gt;Date range&lt;/label&gt;
                                                &lt;div class=&quot;input-group&quot;&gt;
                                                    &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-calendar-o&quot;&gt;&lt;/i&gt;&lt;/span&gt;
                                                    &lt;input class=&quot;form-control&quot; id=&quot;datepickerDateRange&quot; type=&quot;text&quot;&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;table-responsive&quot;&gt;

                                            &lt;table id=&quot;table-activity&quot; class=&quot;table table-hover&quot;&gt;
                                                &lt;thead&gt;
                                                &lt;tr&gt;
                                                    &lt;th&gt;Date&lt;/th&gt;
                                                    &lt;th&gt;Activity&lt;/th&gt;
                                                &lt;/tr&gt;
                                                &lt;/thead&gt;
                                                &lt;tbody&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:59am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt; - Viewed Job - &lt;a href=&quot;{{ link.pages-cs-job-posting }}&quot;&gt;Awesome Medical Assistant&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:59am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt; - &lt;span class=&quot;fa fa-thumbs-up&quot;&gt; Me&lt;/span&gt; - &lt;a href=&quot;{{ link.pages-cs-job-posting }}&quot;&gt;Awesome Medical Assistant&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:58am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Bobby Jobs&lt;/a&gt; - Previewed Job - &lt;a href=&quot;{{ link.pages-cs-job-posting }}&quot;&gt;Medical Assistant&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:40am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Amy Awesome&lt;/a&gt; - Previewed Job - &lt;a href=&quot;{{ link.pages-cs-job-posting }}&quot;&gt;Medical Assistant II&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:39am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Amy Awesome&lt;/a&gt; - Previewed Job - &lt;a href=&quot;{{ link.pages-cs-job-posting }}&quot;&gt;Certified Medical Assistant&lt;/a&gt;&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:35am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Johnetta Fire&lt;/a&gt; - Done - View at least 5 jobs in playlist view&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:30am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt; - Not Done - Research salary of position&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:28am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt; - Done - Ask 10 people about their job&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:27am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt; - Set Password&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;tr&gt;
                                                    &lt;td&gt;10/08/2015 - 09:26am&lt;/td&gt;
                                                    &lt;td class=&quot;headline&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-profile }}&quot;&gt;Jane Frost&lt;/a&gt; - Done - Research other possible locations&lt;/td&gt;
                                                &lt;/tr&gt;
                                                &lt;/tr&gt;
                                                &lt;/tbody&gt;
                                            &lt;/table&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
