&lt;div id=&quot;theme-wrapper&quot; class=&quot;jobs-home&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-cs-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;main-box&quot;&gt;
                            &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                &lt;h2&gt;Post a Job&lt;/h2&gt;
                            &lt;/header&gt;

                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                &lt;form role=&quot;form&quot;&gt;
                                    &lt;div class=&quot;row col-lg-12&quot;&gt;
                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Company&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;input id=&quot;company&quot; class=&quot;form-control&quot; placeholder=&quot;ABC, Inc.&quot; type=&quot;text&quot;&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Company URL&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;input id=&quot;companyurl&quot; class=&quot;form-control&quot; placeholder=&quot;abccompany.com&quot; type=&quot;text&quot;&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Location&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;input id=&quot;location&quot; class=&quot;form-control&quot; placeholder=&quot;St. Louis, MO&quot; type=&quot;text&quot;&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Position Title&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;input id=&quot;title&quot; class=&quot;form-control&quot; placeholder=&quot;Customer Success&quot; type=&quot;text&quot;&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Description and Responsibilities&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;textarea id=&quot;description&quot; class=&quot;form-control&quot; placeholder=&quot;What is this position responsible for?&quot; rows=&quot;8&quot;&gt;&lt;/textarea&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group form-group-select2&quot;&gt;
                                            &lt;label&gt;Only show this job to the following Degree/Programs:&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;select id=&quot;sel2Multi&quot; style=&quot;width:100%;&quot; multiple&gt;
                                                    &lt;option value=&quot;All&quot;&gt;All&lt;/option&gt;
                                                    &lt;option value=&quot;Administration&quot;&gt;Administration&lt;/option&gt;
                                                    &lt;option value=&quot;Accounting/Auditing&quot;&gt;Accounting/Auditing&lt;/option&gt;
                                                    &lt;option value=&quot;Business&quot;&gt;Business&lt;/option&gt;
                                                    &lt;option value=&quot;Criminal Justice&quot;&gt;Criminal Justice&lt;/option&gt;
                                                    &lt;option value=&quot;Nursing&quot;&gt;Nursing&lt;/option&gt;
                                                    &lt;option value=&quot;Technology&quot;&gt;Technology&lt;/option&gt;
                                                &lt;/select&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Contact Email&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;input id=&quot;contactemail&quot; class=&quot;form-control&quot; placeholder=&quot;hiring@abccompany.com&quot; type=&quot;text&quot;&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;form-group&quot;&gt;
                                            &lt;label for=&quot;school&quot;&gt;Contact URL&lt;/label&gt;
                                            &lt;div class=&quot;input-group col-lg-12&quot;&gt;
                                                &lt;input id=&quot;contacturl&quot; class=&quot;form-control&quot; placeholder=&quot;abccompany.com/myjob/apply&quot; type=&quot;text&quot;&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                    &lt;/div&gt;

                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-md-6&quot;&gt;
                                            &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-cs-job-posted }}';&quot;&gt;Post&lt;/button&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                &lt;/form&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;