
&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{#is_cs}}
                            {{&gt; molecules-cs-left-nav }}
                        {{/is_cs}}

                        {{#is_js}}
                            {{&gt; molecules-left-nav }}
                        {{/is_js}}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;

            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;posting-wrapper&quot;&gt;
                                &lt;div class=&quot;col-lg-8&quot;&gt;
                                    &lt;div class=&quot;main-box clearfix&quot;&gt;
                                        &lt;h1&gt;Veterans Health Administration&lt;/h1&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;hidden-lg&quot;&gt;
                                        {{&gt; organisms-bdubs-conversation-small }}
                                    &lt;/div&gt;

                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-md-12&quot;&gt;
                                            &lt;div class=&quot;main-box card card-image&quot;&gt;

                                                &lt;img src=&quot;{{img.pediatrics.src}}&quot; alt=&quot;{{img.pediatrics.alt}}&quot; /&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    {{&gt; organisms-browse-jobs-multiple }}

                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;

                                    &lt;div class=&quot;main-box card&quot;&gt;
                                        &lt;h2&gt;Company&lt;/h2&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-4&quot;&gt;
                                                &lt;img src=&quot;/img/job-new/va-logo.png&quot; /&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-sm-8&quot;&gt;
                                                &lt;h4&gt;Veterans Health Administration&lt;/h4&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;Formed: 1718&lt;/li&gt;
                                                    &lt;li&gt;Annual Budget: $47 billion&lt;/li&gt;
                                                    &lt;li&gt;Employees: 279,792&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                                &lt;ul class=&quot;bottom-links&quot;&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Wikipedia&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google Plus&lt;/a&gt;&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;main-box card-orange card&quot;&gt;
                                        &lt;h2&gt;Location&lt;/h2&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-sm-4&quot;&gt;
                                                &lt;img src=&quot;/img/job-new/map.png&quot; /&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;col-sm-8&quot;&gt;
                                                &lt;h4&gt;Indianapolis, IN&lt;/h4&gt;
                                                &lt;ul&gt;
                                                    &lt;li&gt;Population: 820,445&lt;/li&gt;
                                                    &lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;
                                                    &lt;li&gt;Humid Continental Climate&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;div class=&quot;col-sm-12&quot;&gt;--&gt;
                                                &lt;!--&lt;ul class=&quot;bottom-links&quot;&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Points of Interest&lt;/a&gt;&lt;/li&gt;--&gt;
                                                    &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Neighborhoods&lt;/a&gt;&lt;/li&gt;--&gt;
                                                &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;

                                    &lt;/div&gt;

                                    &lt;div class=&quot;main-box card&quot;&gt;
                                        &lt;h2&gt;Contact Information&lt;/h2&gt;
                                        &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                                &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Name: &lt;strong&gt;Joshua Thomas&lt;/strong&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;hiring@carouse...ics.com&lt;/a&gt;&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 999-9999&lt;/strong&gt;&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;



                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;