&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-employer-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12 hidden-lg&quot;&gt;

                                &lt;div class=&quot;margin-bottom-16&quot;&gt;

                                    &lt;!-- Button trigger modal --&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#jump-to-profile-modal&quot;&gt;
                                        Jump to Profile &lt;span class=&quot;fa fa-user&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;

                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; onclick=&quot;window.location='{{ link.pages-cs-reports }}';&quot;&gt;
                                        Find Job Seekers &lt;span class=&quot;fa fa-search&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;

                                &lt;/div&gt;
                                {{&gt; organisms-bdubs-conversation-small }}

                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot; style=&quot;margin-bottom:0;&quot;&gt;
                                    &lt;h1&gt;BJC Healthcare&lt;/h1&gt;
                                &lt;/div&gt;

                                &lt;!-- Begin horrible hack to display graphs on this page. Do not replicate this! Not enough time to properly debug... --&gt;

                                &lt;div class=&quot;graph&quot; id=&quot;graph-line-1&quot; style=&quot;display:none;&quot;&gt;
                                    &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                    &lt;/div&gt; 
                                &lt;/div&gt; 
                                &lt;div class=&quot;graph&quot; id=&quot;graph-line-2&quot; style=&quot;display:none;&quot;&gt;
                                    &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                    &lt;/div&gt; 
                                &lt;/div&gt; 
                                &lt;div class=&quot;graph&quot; id=&quot;graph-line-3&quot; style=&quot;display:none;&quot;&gt;
                                    &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                    &lt;/div&gt; 
                                &lt;/div&gt; 
                                &lt;div class=&quot;graph&quot; id=&quot;graph-line-4&quot; style=&quot;display:none;&quot;&gt;
                                    &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                    &lt;/div&gt; 
                                &lt;/div&gt; 
                                &lt;div class=&quot;graph&quot; id=&quot;graph-line-5&quot; style=&quot;display:none;&quot;&gt;
                                    &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                    &lt;/div&gt; 
                                &lt;/div&gt; 
                                &lt;div class=&quot;graph&quot; id=&quot;graph-line-6&quot; style=&quot;display:none;&quot;&gt;
                                    &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;!-- End hack. --&gt;

                                &lt;div class=&quot;row&quot;&gt;
                                    &lt;div class=&quot;col-md-6&quot;&gt;
                                        &lt;div class=&quot;main-box&quot;&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-md-12&quot;&gt;
                                                    &lt;div class=&quot;graph-box&quot;&gt;
                                                        &lt;h2&gt;Daily Company Profile Views&lt;/h2&gt;
                                                        &lt;div class=&quot;graph&quot; id=&quot;graph-line-7&quot;&gt;
                                                            &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                            &lt;/div&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;col-md-6&quot;&gt;
                                        &lt;div class=&quot;main-box&quot;&gt;
                                            &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-md-12&quot;&gt;
                                                    &lt;div class=&quot;graph-box&quot;&gt;
                                                        &lt;h2 class=&quot;orange&quot;&gt;Daily Job Views&lt;/h2&gt;
                                                        &lt;div class=&quot;graph&quot; id=&quot;graph-line-8&quot; style=&quot;max-height: 335px; position: relative;&quot;&gt;
                                                            &lt;div class=&quot;morris-hover morris-default-style&quot; style=&quot;display: none;&quot;&gt;
                                                            &lt;/div&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;


                                &lt;div class=&quot;main-box tab-box minimal-tabs&quot;&gt;
                                    &lt;div class=&quot;bs-example bs-example-tabs&quot; data-example-id=&quot;togglable-tabs&quot;&gt;
                                        &lt;ul id=&quot;myTabs&quot; class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                                            &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;#to-dos-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;to-dos-tab&quot;&gt;To-Dos&lt;/a&gt;&lt;/li&gt;
                                            &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#engagement-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;engagement-tab&quot; aria-expanded=&quot;true&quot;&gt;Engagement&lt;/a&gt;&lt;/li&gt;
                                            &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#messages-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;messages-tab&quot;&gt;Messages&lt;/a&gt;&lt;/li&gt;
                                            &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#jobs-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;jobs-tab&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
                                        &lt;/ul&gt;
                                        &lt;div id=&quot;myTabContent&quot; class=&quot;tab-content&quot;&gt;
                                            &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade in active&quot; id=&quot;to-dos-tab&quot; aria-labelledBy=&quot;to-dos-tab&quot;&gt;
                                                {{&gt; organisms-to-dos-employer-cs }}
                                            &lt;/div&gt;
                                            &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;messages-tab&quot; aria-labelledBy=&quot;messages-tab&quot;&gt;
                                                {{&gt; organisms-messages-list }}
                                            &lt;/div&gt;
                                            &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;engagement-tab&quot; aria-labelledBy=&quot;engagement-tab&quot;&gt;
                                                &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Was last active &lt;strong&gt;3 days ago&lt;/strong&gt;.&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Viewed &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;13&lt;/a&gt;&lt;/strong&gt; students&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Received &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;8&lt;/a&gt;&lt;/strong&gt; applications&lt;/li&gt;
                                                    &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Completed &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/strong&gt; to-dos.&lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                            &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;jobs-tab&quot; aria-labelledBy=&quot;jobs-tab&quot;&gt;
                                                {{&gt; organisms-jobs-dashboard-employer }}
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4 margin-bottom-16&quot;&gt;

                                &lt;!-- Button trigger modal --&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg visible-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#jump-to-profile-modal&quot;&gt;
                                    Jump to Profile &lt;span class=&quot;fa fa-user&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;

                                &lt;!-- Modal --&gt;
                                &lt;div class=&quot;modal fade&quot; id=&quot;jump-to-profile-modal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
                                    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
                                        &lt;div class=&quot;modal-content&quot;&gt;
                                            &lt;div class=&quot;modal-header&quot;&gt;
                                                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                                                &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;Jump to Profile&lt;/h4&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;modal-body&quot;&gt;
                                                &lt;form&gt;
                                                    &lt;div class=&quot;form-group&quot;&gt;
                                                        &lt;label for=&quot;recipient-name&quot; class=&quot;control-label&quot;&gt;Name or Email:&lt;/label&gt;
                                                        &lt;input id=&quot;search&quot; class=&quot;form-control&quot; placeholder=&quot;Name or Email&quot; type=&quot;text&quot; &gt;
                                                    &lt;/div&gt;
                                                &lt;/form&gt;
                                            &lt;/div&gt;
                                            &lt;div class=&quot;modal-footer&quot;&gt;
                                                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                                                &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot; onclick=&quot;window.location='{{ link.pages-e-students-browse }}';&quot;&gt;Go&lt;/button&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4 margin-bottom-16&quot;&gt;
                                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg visible-lg&quot; onclick=&quot;window.location='{{ link.pages-cs-reports }}';&quot;&gt;
                                    Find Job Seekers &lt;span class=&quot;fa fa-search&quot;&gt;&lt;/span&gt;
                                &lt;/button&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4 visible-lg&quot;&gt;
                                &lt;div class=&quot;main-box&quot;&gt;
                                    &lt;h2&gt;Recent Activity&lt;/h2&gt;
                                    &lt;div class=&quot;main-box-body clearfix margin-top-20&quot;&gt;
                                        &lt;div class=&quot;col-sm-12&quot;&gt;

                                            {{&gt; organisms-employer-recent-activity }}

                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12 hidden&quot;&gt;
                                {{&gt; molecules-morris-pie-chart }}
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;