&lt;div class=&quot;main-box clearfix &quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;Choose Your Better Weekday&lt;/h2&gt;
    &lt;/header&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Jobs&lt;/strong&gt;&lt;/h4&gt;
        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Quickly view jobs with or without a resume.&lt;/p&gt;
        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Discover new careers at established companies automatically refreshed daily.&lt;/p&gt;
        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-bar-chart-o&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Assessment&lt;/strong&gt;&lt;/h4&gt;
        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Gain scientific insight into your leadership potential.&lt;/p&gt;
        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Takes about 30 minutes.&lt;/p&gt;
        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Guarantees&lt;/strong&gt;&lt;/h4&gt;
        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Coming soon...&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;