&lt;!-- Begin Footer --&gt;
&lt;footer id=&quot;footer-bar&quot; class=&quot;row&quot;&gt;
    &lt;p id=&quot;footer-copyright&quot; class=&quot;col-xs-12&quot;&gt;
        &amp;copy; 2015 &lt;a href=&quot;http://www.betterweekdays.com/&quot; target=&quot;_blank&quot;&gt;Better Weekdays&lt;/a&gt;. All rights reserved.
    &lt;/p&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;