&lt;form role=&quot;form&quot; action=&quot;{{ link.pages-js-dashboard }}&quot;&gt;
    &lt;div class=&quot;input-group&quot;&gt;
        &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-envelope&quot;&gt;&lt;/i&gt;&lt;/span&gt;
        &lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;name@email.com&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-xs-12&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-success col-xs-12&quot; onclick=&quot;window.location='{{ link.pages-js-dashboard }}';&quot;&gt;{{ signButtonText }}&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;