&lt;div class=&quot;main-box clearfix &quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;Videos&lt;/h2&gt;
    &lt;/header&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;ul class=&quot;list-group&quot;&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
                    &lt;iframe src=&quot;https://www.youtube.com/embed/I2IDGXX5-YY?list=PLus_JeguJ_BnMA_F0mzDlshePPHWHplK8&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;ul class=&quot;list-group&quot;&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
                    &lt;iframe src=&quot;https://www.youtube.com/embed/qSylCmes5dw?list=PLus_JeguJ_BnRDA75qSMnUFq_Aozfe6u5&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
                &lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;