&lt;!-- Modal --&gt;
&lt;div class=&quot;modal fade&quot; id=&quot;create-to-do-modal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;&lt;/button&gt;
                &lt;h4 class=&quot;modal-title&quot; id=&quot;myModalLabel&quot;&gt;New To-Do&lt;/h4&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;form&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;recipient-name&quot; class=&quot;control-label&quot;&gt;To:&lt;/label&gt;
                        &lt;input id=&quot;recipient-name&quot; class=&quot;form-control&quot; placeholder=&quot;Name or Email&quot; type=&quot;text&quot; &gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;recipient-name&quot; class=&quot;control-label&quot;&gt;Type:&lt;/label&gt;
                        &lt;select class=&quot;form-control&quot;&gt;
                            &lt;option&gt;&lt;/option&gt;
                            &lt;option&gt;Getting Started&lt;/option&gt;
                            &lt;option&gt;Career Services&lt;/option&gt;
                            &lt;option&gt;Job: Medical Assistant - Chicago, IL&lt;/option&gt;
                            &lt;option&gt;Job: Medical Assistant - Columbus, Ohio&lt;/option&gt;
                        &lt;/select&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;to-do-title&quot; class=&quot;control-label&quot;&gt;Task:&lt;/label&gt;
                        &lt;input id=&quot;to-do-title&quot; class=&quot;form-control&quot; placeholder=&quot;&quot; type=&quot;text&quot; &gt;
                    &lt;/div&gt;
                &lt;/form&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-footer&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot; onclick=&quot;window.location='{{ link.pages-cs-dashboard }}';&quot;&gt;Go&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
