&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;div class=&quot;main-box-header&quot;&gt;
        &lt;h2&gt;Show Me:&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;div class=&quot;radio&quot;&gt;
                        &lt;input name=&quot;optionsRadios&quot; id=&quot;optionsRadios2&quot; value=&quot;option2&quot; type=&quot;radio&quot;&gt;
                        &lt;label for=&quot;optionsRadios2&quot;&gt;
                            All Jobs &lt;a data-original-title=&quot;Browse all the jobs with whatever filters you want&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;&lt;i class=&quot;fa fa-question-circle&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;radio&quot;&gt;
                        &lt;input name=&quot;optionsRadios&quot; id=&quot;optionsRadios1&quot; value=&quot;option1&quot; checked=&quot;&quot; type=&quot;radio&quot;&gt;
                        &lt;label for=&quot;optionsRadios1&quot;&gt;
                            Degree/Program Jobs &lt;a data-original-title=&quot;We find jobs commonly related to the industry of your degree/program&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;&lt;i class=&quot;fa fa-question-circle&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;radio&quot;&gt;
                        &lt;input name=&quot;optionsRadios&quot; id=&quot;optionsRadios2&quot; value=&quot;option2&quot; type=&quot;radio&quot;&gt;
                        &lt;label for=&quot;optionsRadios2&quot;&gt;
                            Personalized Jobs &lt;a data-original-title=&quot;We read and parse your resume to find personalized jobs&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;&lt;i class=&quot;fa fa-question-circle&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;form-group col-md-4&quot;&gt;
                &lt;label&gt;Location&lt;/label&gt;
                &lt;select class=&quot;form-control&quot;&gt;
                    &lt;option value=&quot;All Locations&quot;&gt;All&lt;/option&gt;
                    &lt;option value=&quot;Chicago&quot;&gt;Chicago&lt;/option&gt;
                    &lt;option value=&quot;New York&quot;&gt;New York&lt;/option&gt;
                    &lt;option value=&quot;San Francisco&quot;&gt;San Francisco&lt;/option&gt;
                    &lt;option value=&quot;St. Louis&quot;&gt;St. Louis&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
            &lt;div class=&quot;form-group col-md-4&quot;&gt;
                &lt;label&gt;Company&lt;/label&gt;
                &lt;select class=&quot;form-control&quot;&gt;
                    &lt;option value=&quot;All&quot;&gt;All&lt;/option&gt;
                    &lt;option value=&quot;BJC&quot;&gt;BJC&lt;/option&gt;
                    &lt;option value=&quot;Edward Jones&quot;&gt;Edward Jones&lt;/option&gt;
                    &lt;option value=&quot;Procter and Gamble&quot;&gt;Procter and Gamble&lt;/option&gt;
                    &lt;option value=&quot;Unilever&quot;&gt;Unilever&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
            &lt;div class=&quot;form-group col-md-4&quot;&gt;
                &lt;label&gt;Industry&lt;/label&gt;
                &lt;select class=&quot;form-control&quot;&gt;
                    &lt;option value=&quot;All&quot;&gt;All&lt;/option&gt;
                    &lt;option value=&quot;Healthcare&quot;&gt;Healthcare&lt;/option&gt;
                    &lt;option value=&quot;Management&quot;&gt;Management&lt;/option&gt;
                    &lt;option value=&quot;Supply&quot;&gt;Supply&lt;/option&gt;
                    &lt;option value=&quot;Waste Management&quot;&gt;Waste Management&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;div class=&quot;checkbox-nice&quot;&gt;
                        &lt;input id=&quot;checkbox-1&quot; checked=&quot;checked&quot; type=&quot;checkbox&quot;&gt;
                        &lt;label for=&quot;checkbox-1&quot;&gt;
                            Internships ONLY
                        &lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;form-group&quot;&gt;
                    &lt;div class=&quot;checkbox-nice&quot;&gt;
                        &lt;input id=&quot;checkbox-1&quot; checked=&quot;checked&quot; type=&quot;checkbox&quot;&gt;
                        &lt;label for=&quot;checkbox-1&quot;&gt;
                            Exclude Job Boards &lt;a data-original-title=&quot;Jobs from job boards are typically lower quality and are more likely expired&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;&lt;i class=&quot;fa fa-question-circle&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        &lt;/label&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Let's Go!&lt;/button&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot;&gt;Reset&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;