&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;ol class=&quot;breadcrumb&quot;&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class=&quot;active&quot;&gt;&lt;span&gt;{{ title }}&lt;/span&gt;&lt;/li&gt;
                                &lt;/ol&gt;

                                &lt;h1&gt;{{ title }}&lt;/h1&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            {{&gt; molecules-warning }}
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-4 col-sm-6 col-xs-12&quot;&gt;
                                &lt;div class=&quot;main-box infographic-box&quot;&gt;
                                    &lt;i class=&quot;fa fa-star-o red-bg&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;headline&quot;&gt;Jobs Available&lt;/span&gt;
                                    &lt;span class=&quot;value&quot;&gt;827,459&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4 col-sm-6 col-xs-12&quot;&gt;
                                &lt;div class=&quot;main-box infographic-box&quot;&gt;
                                    &lt;i class=&quot;fa fa-plus-square-o emerald-bg&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;headline&quot;&gt;Jobs Added Yesterday&lt;/span&gt;
                                    &lt;span class=&quot;value&quot;&gt;7,301&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4 col-sm-6 col-xs-12&quot;&gt;
                                &lt;div class=&quot;main-box infographic-box&quot;&gt;
                                    &lt;i class=&quot;fa fa-building-o green-bg&quot;&gt;&lt;/i&gt;
                                    &lt;span class=&quot;headline&quot;&gt;Companies&lt;/span&gt;
                                    &lt;span class=&quot;value&quot;&gt;81,305&lt;/span&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-6&quot;&gt;
                                &lt;!--{{&gt; organisms-completeness }}
                                    {{&gt; organisms-completeness2 }}
                                    {{&gt; organisms-overall-count }}--&gt;
                                &lt;div class=&quot;main-box clearfix &quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;What Should I Do Next?&lt;/h2&gt;
                                    &lt;/header&gt;
                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;ul class=&quot;list-group&quot;&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;strong&gt;Now&lt;/strong&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;View at least 5 jobs in &lt;a href=&quot;{{ link.pages-job-seeker-browse-jobs-journey }}&quot;&gt;playlist view&lt;/a&gt;&lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Did you actually apply to the Medical Assistant job at Veterans Hospital?&lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                                                    &lt;button class=&quot;btn btn-danger&quot; title=&quot;Nope&quot;&gt;
                                                        &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Send thank-you note to Veterans Hospital for interview&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                                                    &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                                                        &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;

                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;strong&gt;Next Week&lt;/strong&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Log back in and check for new matches&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                                                    &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                                                        &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                            &lt;li class=&quot;list-group-item&quot;&gt;
                                                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Research salary of position&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                                                    &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                                                        &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                    &lt;/button&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                            &lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-6&quot;&gt;
                                &lt;div class=&quot;main-box clearfix &quot;&gt;
                                    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                        &lt;h2&gt;Choose Your Better Weekday&lt;/h2&gt;
                                    &lt;/header&gt;
                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Leads&lt;/strong&gt;&lt;/h4&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Quickly view jobs without a resume.&lt;/p&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Best for jobs with a specific title or certification.&lt;/p&gt;
                                        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-money&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Matches&lt;/strong&gt;&lt;/h4&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Discover new careers at established companies automatically refreshed daily.&lt;/p&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Requires a resume and an idea of location preference.&lt;/p&gt;
                                        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-bar-chart-o&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Assessment&lt;/strong&gt;&lt;/h4&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Gain scientific insight into your leadership potential.&lt;/p&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Takes about 30 minutes.&lt;/p&gt;
                                        &lt;h4&gt;&lt;strong&gt;&lt;i class=&quot;fa fa-star&quot;&gt;&lt;/i&gt;&amp;nbsp;&amp;nbsp;Guarantees&lt;/strong&gt;&lt;/h4&gt;
                                        &lt;p class=&quot;col-xs-offset-1 headline&quot;&gt;Coming soon...&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;!--&lt;div class=&quot;col-lg-6&quot;&gt;
                        &lt;div class=&quot;main-box clearfix&quot;&gt;
                            &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                &lt;h2&gt;Contact Career Services&lt;/h2&gt;
                            &lt;/header&gt;
                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                {{&gt; molecules-contact-career-services }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;--&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;main-box clearfix&quot;&gt;
                            &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                &lt;h2&gt;Helpful Articles&lt;/h2&gt;
                            &lt;/header&gt;
                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                {{&gt; organisms-list-group }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;