{{# blank-state}}
&lt;div class=&quot;main-box clearfix {{blank-state.class}}&quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;{{blank-state.title}}&lt;/h2&gt;
    &lt;/header&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        {{#blank-state.icon}}&lt;i class=&quot;fa {{blank-state.icon}} giant&quot;&gt;&lt;/i&gt;{{/blank-state.icon}}
        &lt;p class=&quot;headline&quot;&gt;{{blank-state.message1}}&lt;/p&gt;
        {{#blank-state.message2}}&lt;p class=&quot;headline&quot;&gt;{{blank-state.message2}}&lt;/p&gt;{{/blank-state.message2}}
        {{#blank-state.message3}}&lt;p class=&quot;headline&quot;&gt;{{blank-state.message3}}&lt;/p&gt;{{/blank-state.message3}}
        {{#blank-state.message4}}&lt;p class=&quot;headline&quot;&gt;{{blank-state.message4}}&lt;/p&gt;{{/blank-state.message4}}
    &lt;/div&gt;
&lt;/div&gt;
{{/blank-state}}