&lt;div class=&quot;form-group form-group-select2&quot;&gt;
    &lt;label&gt;{{ select-label }}&lt;/label&gt;
    &lt;select style=&quot;width:300px&quot; id=&quot;sel{{ id }}&quot;&gt;
        {{#options}}
            &lt;option value=&quot;{{ option }}&quot;&gt;{{ option }}&lt;/option&gt;
        {{/options}}
    &lt;/select&gt;
&lt;/div&gt;