&lt;!-- Button trigger modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#create-note-modal&quot;&gt;
    New Note &lt;span class=&quot;fa fa-paperclip&quot;&gt;&lt;/span&gt;
&lt;/button&gt;
