&lt;div class=&quot;main-box infographic-box-center clearfix&quot;&gt;
    &lt;div class=&quot;main-box-header text-center&quot;&gt;
        &lt;h2&gt;Job Lead 2 of 11&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;div class=&quot;row text-center&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;br /&gt;
                &lt;a href=&quot;{{ link.pages-job-new }}&quot;&gt;
                    &lt;span class=&quot;title value&quot;&gt;{{playlist2.job-title}}&lt;/span&gt;
                &lt;/a&gt;
                &lt;p class=&quot;headline&quot;&gt;
                    &lt;strong&gt;{{playlist2.job-location}}&lt;/strong&gt; - {{playlist2.job-company}}
                &lt;/p&gt;
                &lt;br /&gt;
                &lt;p&gt;&lt;strong&gt;They're looking for:&lt;/strong&gt; {{playlist2.job-looking}} &lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;I'll  be responsible for:&lt;/strong&gt; {{playlist2.job-responsible1}}&lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;I'll also be responsible for:&lt;/strong&gt; {{ playlist2.job-responsible2 }}&lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;I can expect to make:&lt;/strong&gt; {{playlist2.job-salary}}&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;br /&gt;
        &lt;div class=&quot;row text-center&quot;&gt;
            &lt;div class=&quot;col-lg-12&quot;&gt;
                &lt;p&gt;&lt;strong&gt;People who work here say:&lt;/strong&gt; {{playlist2.company-review1}}&lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;They also say:&lt;/strong&gt; {{playlist2.company-review2}}&lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;The cost of living is about:&lt;/strong&gt; $2.80/gal for gas, $1400/mo for rent (900 sq. ft), and $33 to go to dinner for two&lt;/p&gt;
                &lt;p&gt;&lt;strong&gt;I may be promoted to:&lt;/strong&gt; {{playlist2.promotion}}&lt;/p&gt;
                &lt;p class=&quot;small&quot;&gt;&lt;a href='#'&gt;powered by &lt;img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /&gt;&lt;/a&gt;&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;br /&gt;
        &lt;div class=&quot;row text-center&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-danger&quot; onclick=&quot;window.location='{{ link.pages-job-seeker-browse-jobs-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-times&quot;&gt; Not Me&lt;/span&gt;&lt;/button&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-job-seeker-dashboard-intro-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-rocket&quot;&gt; Tell Me More&lt;/span&gt;&lt;/button&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-info&quot; onclick=&quot;window.location='{{ link.pages-job-seeker-browse-jobs-journey2 }}';&quot;&gt;&lt;span class=&quot;fa fa-check&quot;&gt; Me&lt;/span&gt;&lt;/button&gt;
            &lt;p class=&quot;small&quot;&gt;Hint: Choosing 'Me' or 'Not Me' shows the next job lead.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;