&lt;div class=&quot;main-box clearfix &quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;What Should I Do Next?&lt;/h2&gt;
    &lt;/header&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;ul class=&quot;list-group&quot;&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;strong&gt;Now&lt;/strong&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;View at least 5 jobs in &lt;a href=&quot;{{ link.pages-jsj-jobs-journey }}&quot;&gt;playlist view&lt;/a&gt;&lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Did you actually apply to the Medical Assistant job at Veterans Hospital?&lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                    &lt;button class=&quot;btn btn-danger&quot; title=&quot;Nope&quot;&gt;
                        &lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Send thank-you note to Veterans Hospital for interview&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                    &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                        &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
            &lt;/li&gt;

            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;strong&gt;Next Week&lt;/strong&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Log back in and check for new matches&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                    &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                        &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Research salary of position&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                    &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                        &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                    &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                        &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
                &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;