&lt;div id=&quot;graph-flot-donut&quot; style=&quot;height: 400px; padding: 0px; position: relative;&quot;&gt;
    &lt;canvas height=&quot;400&quot; width=&quot;575&quot; style=&quot;direction: ltr; position: absolute; left: 0px; top: 0px; width: 575px; height: 400px;&quot; class=&quot;flot-base&quot;&gt;&lt;/canvas&gt;
    &lt;canvas height=&quot;400&quot; width=&quot;575&quot; style=&quot;direction: ltr; position: absolute; left: 0px; top: 0px; width: 575px; height: 400px;&quot; class=&quot;flot-overlay&quot;&gt;&lt;/canvas&gt;
    &lt;span class=&quot;pieLabel&quot; id=&quot;pieLabel0&quot; style=&quot;position: absolute; top: 3.5px; left: 283.5px;&quot;&gt;
        &lt;div style=&quot;font-size:medium;text-align:center;padding:2px;color:rgb(231,76,60);&quot;&gt;Has Password
            &lt;br&gt;3%
        &lt;/div&gt;
    &lt;/span&gt;
    &lt;span class=&quot;pieLabel&quot; id=&quot;pieLabel1&quot; style=&quot;position: absolute; top: 17.5px; left: 339.5px;&quot;&gt;
        &lt;div style=&quot;font-size:medium;text-align:center;padding:2px;color:rgb(241,196,15);&quot;&gt;Has Job Prefs.
            &lt;br&gt;8%
        &lt;/div&gt;
    &lt;/span&gt;
    &lt;span class=&quot;pieLabel&quot; id=&quot;pieLabel2&quot; style=&quot;position: absolute; top: 147.5px; left: 445.5px;&quot;&gt;
        &lt;div style=&quot;font-size:medium;text-align:center;padding:2px;color:rgb(46,204,113);&quot;&gt;Resume Uploaded
            &lt;br&gt;23%
        &lt;/div&gt;
    &lt;/span&gt;
    &lt;span class=&quot;pieLabel&quot; id=&quot;pieLabel3&quot; style=&quot;position: absolute; top: 343.5px; left: 352.5px;&quot;&gt;
        &lt;div style=&quot;font-size:medium;text-align:center;padding:2px;color:rgb(52,152,219);&quot;&gt;Viewed Matches
            &lt;br&gt;18%
        &lt;/div&gt;
    &lt;/span&gt;
    &lt;span class=&quot;pieLabel&quot; id=&quot;pieLabel4&quot; style=&quot;position: absolute; top: 318.5px; left: 148.5px;&quot;&gt;
        &lt;div style=&quot;font-size:medium;text-align:center;padding:2px;color:rgb(155,89,182);&quot;&gt;Viewed a Job
            &lt;br&gt;21%
        &lt;/div&gt;
    &lt;/span&gt;
    &lt;span class=&quot;pieLabel&quot; id=&quot;pieLabel5&quot; style=&quot;position: absolute; top: 69.5px; left: 128.5px;&quot;&gt;
        &lt;div style=&quot;font-size:medium;text-align:center;padding:2px;color:rgb(149,165,166);&quot;&gt;Applied to a Job
            &lt;br&gt;28%
        &lt;/div&gt;
    &lt;/span&gt;
&lt;/div&gt;