&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;header class=&quot;main-box-header clearfix&quot;&gt;
        &lt;h2&gt;Tips&lt;/h2&gt;
    &lt;/header&gt;

    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        &lt;ol&gt;
            &lt;li&gt;The assessment is best on a desktop computer.&lt;/li&gt;
            &lt;li&gt;Set aside 40 minutes to complete.&lt;/li&gt;
            &lt;li&gt;If you need to scroll within the assessment, move your cursor into the frame.&lt;/li&gt;
            &lt;li&gt;Progress is auto-saved at the end of each section.&lt;/li&gt;
            &lt;li&gt;Starting and stopping is OK.&lt;/li&gt;
        &lt;/ol&gt;
    &lt;/div&gt;
&lt;/div&gt;