&lt;div class=&quot;pull-right&quot;&gt;
    &lt;span class=&quot;badge badge-warning&quot;&gt;recommendation&lt;/span&gt;
    {{#is_js}}
        &lt;span class=&quot;badge badge-success&quot;&gt;received&lt;/span&gt;
    {{/is_js}}
    {{#is_cs}}
        &lt;span class=&quot;badge badge-success&quot;&gt;sent&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not viewed&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not clicked&lt;/span&gt;
    {{/is_cs}}
&lt;/div&gt;

&lt;p&gt;12/07/2015&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Medical Assistant&lt;/a&gt;&lt;/p&gt;

&lt;hr /&gt;

&lt;div class=&quot;pull-right&quot;&gt;
    &lt;span class=&quot;badge badge-primary&quot;&gt;email&lt;/span&gt;
    {{#is_js}}
        &lt;span class=&quot;badge badge-success&quot;&gt;received&lt;/span&gt;
    {{/is_js}}
    {{#is_cs}}
        &lt;span class=&quot;badge badge-success&quot;&gt;sent&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not viewed&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not clicked&lt;/span&gt;
    {{/is_cs}}
&lt;/div&gt;

&lt;p&gt;12/03/2015&lt;br /&gt;From: John Smith&lt;/p&gt;
&lt;p&gt;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.&lt;/p&gt;

&lt;hr /&gt;

&lt;div class=&quot;pull-right&quot;&gt;
    &lt;span class=&quot;badge badge-info&quot;&gt;invite&lt;/span&gt;
    {{#is_js}}
        &lt;span class=&quot;badge badge-success&quot;&gt;received&lt;/span&gt;
    {{/is_js}}
    {{#is_cs}}
        &lt;span class=&quot;badge badge-success&quot;&gt;sent&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not viewed&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not clicked&lt;/span&gt;
    {{/is_cs}}
&lt;/div&gt;

&lt;p&gt;12/01/2015&lt;/p&gt;
&lt;p&gt;Create Better Weekdays Account&lt;/p&gt;
