&lt;div class=&quot;pull-right&quot;&gt;
    &lt;span class=&quot;badge badge-warning&quot;&gt;recommendation&lt;/span&gt;
    {{#is_js}}
        &lt;span class=&quot;badge badge-success&quot;&gt;received&lt;/span&gt;
    {{/is_js}}
    {{#is_cs}}
        &lt;span class=&quot;badge badge-success&quot;&gt;sent&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not viewed&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not clicked&lt;/span&gt;
    {{/is_cs}}
&lt;/div&gt;

&lt;p&gt;12/07/2015&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;{{ link.pages-e-job-posting }}&quot;&gt;Marketing Associate&lt;/a&gt;&lt;/p&gt;

&lt;hr /&gt;

&lt;div class=&quot;pull-right&quot;&gt;
    &lt;span class=&quot;badge badge-primary&quot;&gt;email&lt;/span&gt;
    {{#is_js}}
        &lt;span class=&quot;badge badge-success&quot;&gt;received&lt;/span&gt;
    {{/is_js}}
    {{#is_cs}}
        &lt;span class=&quot;badge badge-success&quot;&gt;sent&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not viewed&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not clicked&lt;/span&gt;
    {{/is_cs}}
&lt;/div&gt;

&lt;p&gt;12/03/2015&lt;br /&gt;From: John Smith&lt;/p&gt;
&lt;p&gt;We are making it easy for you to network with professionals in your field as well as finding careers related to your area of study on your mobile.&lt;/p&gt;

&lt;hr /&gt;

&lt;div class=&quot;pull-right&quot;&gt;
    &lt;span class=&quot;badge badge-info&quot;&gt;invite&lt;/span&gt;
    {{#is_js}}
        &lt;span class=&quot;badge badge-success&quot;&gt;received&lt;/span&gt;
    {{/is_js}}
    {{#is_cs}}
        &lt;span class=&quot;badge badge-success&quot;&gt;sent&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not viewed&lt;/span&gt;
        &lt;span class=&quot;badge&quot;&gt;not clicked&lt;/span&gt;
    {{/is_cs}}
&lt;/div&gt;

&lt;p&gt;12/01/2015&lt;/p&gt;
&lt;p&gt;Create Better Weekdays Account&lt;/p&gt;
