&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            {{&gt; molecules-warning }}
                        &lt;/div&gt;

                        &lt;div class=&quot;row hidden-lg&quot;&gt;
                            &lt;div class=&quot;col-md-12&quot;&gt;
                                {{&gt; organisms-contact-facilitator }}
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;
                        &lt;/div&gt;


                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;!--{{&gt; organisms-interactions }}--&gt;
                                {{&gt; organisms-to-dos }}
                                {{&gt; organisms-activity-dashboard }}
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4&quot;&gt;
                                &lt;div class=&quot;visible-lg&quot;&gt;
                                    {{&gt; organisms-contact-facilitator }}
                                    {{&gt; organisms-bdubs-conversation-small }}
                                &lt;/div&gt;
                                {{&gt; organisms-choose-betterweekday }}
                                {{&gt; organisms-jobs-companies-count }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;
                        &lt;div class=&quot;main-box clearfix&quot;&gt;
                            &lt;header class=&quot;main-box-header clearfix&quot;&gt;
                                &lt;h2&gt;Helpful Articles&lt;/h2&gt;
                            &lt;/header&gt;
                            &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                {{&gt; organisms-list-group }}
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;