&lt;div class=&quot;col-lg-8&quot;&gt;
    &lt;div class=&quot;main-box&quot;&gt;
        &lt;header class=&quot;main-box-header clearfix&quot;&gt;
            &lt;h2&gt;Job History&lt;/h2&gt;
        &lt;/header&gt;

        &lt;div class=&quot;main-box-body clearfix&quot;&gt;
            &lt;form role=&quot;form&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;employer&quot;&gt;Current/Previous Employer&lt;/label&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input id=&quot;employer&quot; class=&quot;form-control&quot; placeholder=&quot;ACME Inc.&quot; type=&quot;text&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label&gt;Experience&lt;/label&gt;
                        &lt;select class=&quot;form-control&quot;&gt;
                            &lt;option&gt;Select...&lt;/option&gt;
                            &lt;option&gt;None&lt;/option&gt;
                            &lt;option&gt;1-2 years&lt;/option&gt;
                            &lt;option&gt;3-4 years&lt;/option&gt;
                            &lt;option&gt;5+ years&lt;/option&gt;
                        &lt;/select&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-6&quot;&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Update&lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

            &lt;/form&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;