&lt;div class=&quot;list-group&quot;&gt;
    {{# list-group }}
        &lt;a href=&quot;{{ url }} &quot; class=&quot;list-group-item&quot;&gt;
            &lt;h4 class=&quot;list-group-item-heading&quot;&gt;{{ title }}&lt;/h4&gt;
            &lt;p class=&quot;list-group-item-text&quot;&gt;{{ summary }}&lt;/p&gt;
            &lt;p class=&quot;small&quot;&gt;Source: {{ source }}&lt;/p&gt;
        &lt;/a&gt;
    {{/list-group}}
&lt;/div&gt;