&lt;div id=&quot;theme-wrapper&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;div class=&quot;main-box-header&quot;&gt;
                                        &lt;h2&gt;Alright, let's get it!&lt;/h2&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                                &lt;p class=&quot;giant&quot;&gt;Congrats! You've Taken Another Step.&lt;/p&gt;
                                                &lt;a href=&quot;{{ link.pages-j-posting }}&quot;&gt;
                                                    &lt;span class=&quot;title value&quot;&gt;&lt;/span&gt;
                                                &lt;/a&gt;
                                                &lt;p class=&quot;alert alert-info&quot;&gt;&lt;strong&gt;Certified Medical Assistant Medical Receptionist&lt;/strong&gt; at &lt;strong&gt;Veterans Health Administration&lt;/strong&gt; in &lt;em&gt;Indianapolis, IN&lt;/em&gt;&lt;/p&gt;
                                                &lt;p&gt;&lt;p&gt;We now know you're interested. Now, the real work begins.&lt;/p&gt;
                                                &lt;p&gt;Stay focused. Stay positive. You've got this!&lt;/p&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                                &lt;ul class=&quot;list-group&quot;&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;strong&gt;What we're going to do&lt;/strong&gt;&amp;nbsp;&lt;a data-original-title=&quot;Yep. You read that right. We personally help you with this job.&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        Contact you within 24 hours with a plan to increase your chances of getting the job
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        Reach out to the employer and confirm the position is still open
                                                    &lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                                &lt;ul class=&quot;list-group&quot;&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;strong&gt;What you need to do&lt;/strong&gt;&amp;nbsp;&lt;a data-original-title=&quot;Applying is just another step. If you really want it, keep going and make it happen!&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;fa fa-question-circle&quot;&gt;&lt;/a&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;View at least 5 more jobs in &lt;a href=&quot;{{ link.pages-js-jobs }}&quot;&gt;your degree program&lt;/a&gt;&lt;/div&gt;
                                                        &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;&lt;/div&gt;
                                                        &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                            &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                                &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                            &lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Ask 10 people about their jobs&lt;/div&gt;
                                                        &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                                                            &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                                                                &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                                                            &lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                            &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                                &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                            &lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;div class=&quot;col-sm-10 col-xs-8&quot;&gt;Identify three jobs you want&amp;nbsp;(&lt;a data-original-title=&quot;Default tooltip&quot; href=&quot;#&quot; data-toggle=&quot;tooltip&quot; title=&quot;&quot; class=&quot;small&quot;&gt;why?&lt;/a&gt;)&lt;/div&gt;
                                                        &lt;div class=&quot;col-sm-1 col-xs-2 text-right&quot;&gt;
                                                            &lt;button class=&quot;btn btn-info&quot; title=&quot;Add calendar reminder&quot;&gt;
                                                                &lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
                                                            &lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-sm-1 col-xs-2&quot;&gt;
                                                            &lt;button class=&quot;btn btn-success&quot; title=&quot;Done!&quot;&gt;
                                                                &lt;i class=&quot;fa fa-check&quot;&gt;&lt;/i&gt;
                                                            &lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;clear&quot;&gt;&lt;/div&gt;
                                                    &lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;
                                    &lt;div class=&quot;main-box-header&quot;&gt;
                                        &lt;h2&gt;Your Other Jobs&lt;/h2&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                        &lt;div class=&quot;row&quot;&gt;
                                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                                &lt;ul class=&quot;list-group&quot;&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;div class=&quot;col-lg-2 col-sm-3&quot;&gt;
                                                            &lt;span class=&quot;badge badge-warning&quot;&gt;New&lt;/span&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-8 col-sm-6&quot;&gt;
                                                            Certified Medical Assistant
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-2 col-sm-3&quot;&gt;
                                                            &lt;button class=&quot;btn btn-info&quot; title=&quot;View&quot;&gt;View&lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;div class=&quot;col-lg-2 col-sm-3&quot;&gt;
                                                            &lt;span class=&quot;badge&quot;&gt;Viewed&lt;/span&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-8 col-sm-6&quot;&gt;
                                                            Another Certified Medical Assistant
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-2 col-sm-3&quot;&gt;
                                                            &lt;button class=&quot;btn btn-info&quot; title=&quot;View&quot;&gt;View&lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item&quot;&gt;
                                                        &lt;div class=&quot;col-lg-2 col-sm-3&quot;&gt;
                                                            &lt;span class=&quot;badge badge-danger&quot;&gt;Not Me&lt;/span&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-8 col-sm-6&quot;&gt;
                                                            Down-Voted Certified Medical Assistant
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;col-lg-2 col-sm-3&quot;&gt;
                                                            &lt;button class=&quot;btn btn-info&quot; title=&quot;View&quot;&gt;View&lt;/button&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
                                                    &lt;/li&gt;
                                                    &lt;li class=&quot;list-group-item text-right&quot;&gt;
                                                        &lt;a href=&quot;#&quot;&gt;View All&lt;/a&gt;
                                                    &lt;/li&gt;
                                                &lt;/ul&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-lg-4&quot;&gt;
                                {{&gt; organisms-bdubs-conversation-small }}
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;