&lt;form role=&quot;form&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;label&gt;Send a question or request&lt;/label&gt;
        &lt;select class=&quot;form-control&quot;&gt;
            &lt;option value=&quot;&quot;&gt;- Select -&lt;/option&gt;
            &lt;option value=&quot;1&quot;&gt;What can I do now while I'm in school to prepare for a job offer?&lt;/option&gt;
            &lt;option value=&quot;2&quot;&gt;What are the best ways to get a good salary?&lt;/option&gt;
            &lt;option value=&quot;3&quot;&gt;I would like help with my resume&lt;/option&gt;
            &lt;option value=&quot;4&quot;&gt;Please help me prepare for a job interview&lt;/option&gt;
            &lt;option value=&quot;5&quot;&gt;What other resources does career services offer to help me get a job?&lt;/option&gt;
        &lt;/select&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-xs-3&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-success col-xs-12&quot;&gt;Send&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;