&lt;div class=&quot;col-lg-8&quot;&gt;
    &lt;div class=&quot;main-box&quot;&gt;
        &lt;header class=&quot;main-box-header clearfix&quot;&gt;
            &lt;h2&gt;Before You Begin...&lt;/h2&gt;
        &lt;/header&gt;

        &lt;div class=&quot;main-box-body clearfix&quot;&gt;
            &lt;form role=&quot;form&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;form-group col-md-8&quot;&gt;
                        &lt;label for=&quot;salary&quot;&gt;What is your first and last name?&lt;/label&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input id =&quot;firstname&quot; class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;First Name&quot; required&gt;
                            &lt;input id =&quot;lastname&quot; class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Last Name&quot; required&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;form-group col-md-8&quot;&gt;
                        &lt;label&gt;What gender do you identify as?&lt;/label&gt;
                        &lt;select class=&quot;form-control&quot;&gt;
                            &lt;option value=&quot;male&quot;&gt;Male&lt;/option&gt;
                            &lt;option value=&quot;female&quot;&gt;Female&lt;/option&gt;
                            &lt;option value=&quot;other&quot;&gt;Other&lt;/option&gt;
                        &lt;/select&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-6&quot;&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot; onclick=&quot;window.location='{{ link.pages-js-assessment }}';&quot;&gt;Begin Assessment&lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

            &lt;/form&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;