&lt;!-- Button trigger modal --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#new-message-modal&quot;&gt;
    New Message &lt;span class=&quot;fa fa-send&quot;&gt;&lt;/span&gt;
&lt;/button&gt;