&lt;div id=&quot;theme-wrapper&quot; class=&quot;jobs-home&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;content-wrapper&quot; class=&quot;loading-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box clearfix loading&quot;&gt;
                                    &lt;p&gt;&quot;Choose a job you love, and you will never have to work a day in your life.&quot; &lt;br/&gt;- Confucius&lt;/p&gt;
                                    &lt;div class=&quot;progress progress-striped active&quot; style=&quot;margin-bottom:0;&quot;&gt;
                                        &lt;div class=&quot;progress-bar&quot; style=&quot;width: 100%; height:100%;&quot;&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;p class=&quot;loading-small&quot;&gt;Your results will be ready shortly!&lt;/p&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;col-md-4&quot;&gt;
                                &lt;div class=&quot;row&quot;&gt;


                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    {{&gt; organisms-footer }}
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;script&gt;
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    &lt;/script&gt;