&lt;div class=&quot;form-group&quot;&gt;
    &lt;label&gt;{{ select-label }}&lt;/label&gt;
    &lt;select multiple=&quot;&quot; class=&quot;form-control&quot;&gt;
        {{#option}}
            &lt;option&gt;{{ option.value }}&lt;/option&gt;
        {{/option}}
    &lt;/select&gt;
&lt;/div&gt;

