&lt;div id=&quot;theme-wrapper&quot; class=&quot;job-new&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-12&quot;&gt;
                                &lt;ol class=&quot;breadcrumb&quot;&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class=&quot;active&quot;&gt;&lt;span&gt;{{ title }}&lt;/span&gt;&lt;/li&gt;
                                &lt;/ol&gt;

                                &lt;h1&gt;{{ title }}&lt;/h1&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;

                            &lt;div class=&quot;posting-wrapper&quot;&gt;

                                &lt;div class=&quot;col-xs-6 hidden-sm hidden-md hidden-lg&quot;&gt;
                                    &lt;div class=&quot;job-new-button-sidebar&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-success btn-lg&quot;&gt;
                                            Apply &lt;span class=&quot;fa fa-chevron-right&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                            Favorite &lt;span class=&quot;fa fa-star-o&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-xs-12 col-sm-10&quot;&gt;

                                    &lt;div class=&quot;row&quot;&gt;


                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box job-new-company job-new-card&quot;&gt;
                                                &lt;h2&gt;Company&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-sm-4&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/va-logo.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-8&quot;&gt;
                                                    &lt;h4&gt;Veterans Health Administration&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;Formed: 1718&lt;/li&gt;
                                                            &lt;li&gt;Annual Budget: $47 billion&lt;/li&gt;
                                                            &lt;li&gt;Employees: 279,792&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;bottom-links&quot;&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Wikipedia&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google Plus&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box job-new-location job-new-card&quot;&gt;
                                                &lt;h2&gt;Location&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-4&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/map.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-8&quot;&gt;
                                                        &lt;h4&gt;Indianapolis, IN&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;Population: 820,445&lt;/li&gt;
                                                            &lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;
                                                            &lt;li&gt;Humid Continental Climate&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;bottom-links&quot;&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Points of Interest&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Neighborhoods&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box job-new-schedule job-new-card&quot;&gt;
                                                &lt;h2&gt;Schedule&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-4&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/clock.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-8&quot;&gt;
                                                        &lt;h4&gt;40hr Week&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;8 hr days&lt;/li&gt;
                                                            &lt;li&gt;5 days per week&lt;/li&gt;
                                                            &lt;li&gt;3 weeks time off&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;bottom-links&quot;&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Vacation Policy&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sick / Personal Day Policy&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box job-new-compensation job-new-card&quot;&gt;
                                                &lt;h2&gt;Compensation&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-6&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/compensation-graph.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-6&quot;&gt;
                                                        &lt;h4&gt;$29,600 Annual&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;$2,466 Monthly&lt;/li&gt;
                                                            &lt;li&gt;$15.40 Hourly&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-12&quot;&gt;
                                            &lt;div class=&quot;main-box tab-box&quot;&gt;
                                                &lt;div class=&quot;bs-example bs-example-tabs&quot; data-example-id=&quot;togglable-tabs&quot;&gt;
                                                    &lt;ul id=&quot;myTabs&quot; class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                                                        &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;#you&quot; id=&quot;home-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;home&quot; aria-expanded=&quot;true&quot;&gt;You&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#the-job&quot; role=&quot;tab&quot; id=&quot;profile-tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;profile&quot;&gt;The Job&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#what-its-like&quot; role=&quot;tab&quot; id=&quot;profile-tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;profile&quot;&gt;What It's Like&lt;/a&gt;&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                    &lt;div id=&quot;myTabContent&quot; class=&quot;tab-content&quot;&gt;
                                                        &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade in active&quot; id=&quot;you&quot; aria-labelledBy=&quot;home-tab&quot;&gt;
                                                            &lt;p&gt;This position is located in PCS/Clinical Support Service. Incumbent in this roles will be responsible for performing a variety of administrative and clerical duties and is the liaison between the nursing staff in their assigned area and customers both internal and external to the medical center.&lt;/p&gt;
                                                            &lt;p&gt;Specialized experience includes, but is not limited, to the following:&lt;/p&gt;
                                                            &lt;ul&gt;
                                                            &lt;li&gt;Scheduling, canceling and rescheduling patients discharge appointments.&lt;/li&gt;
                                                            &lt;li&gt;Accurately and timely processing patient information, admits, discharge, appointments and transfers in computer system.&lt;/li&gt;
                                                            &lt;li&gt;Arranging and coordinating in-patient procedure appointments for timeliness.&lt;/li&gt;
                                                            &lt;li&gt;Maintaining office supplies.&lt;/li&gt;
                                                            &lt;li&gt;Providing professional and courteous customer service.&lt;/li&gt;
                                                            &lt;li&gt;Assisting with the orientation/on the job training of new staff.&lt;/li&gt;
                                                            &lt;li&gt;Completing work orders and contacting appropriate staff when requested for emergency repairs or special requests.&lt;/li&gt;
                                                            &lt;li&gt;Inputting and extracting data of a highly technical nature.&lt;/li&gt;
                                                            &lt;li&gt;Interpreting and transcribing doctors orders.&lt;/li&gt;
                                                            &lt;li&gt;Maintaining patient records, scanning, quality control&lt;/li&gt;
                                                            &lt;/ul&gt;                                                        &lt;/div&gt;
                                                        &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;the-job&quot; aria-labelledBy=&quot;profile-tab&quot;&gt;
                                                            &lt;p&gt;This is where the job description goes, if it exists.&lt;/p&gt;
                                                            &lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;what-its-like&quot; aria-labelledBy=&quot;dropdown1-tab&quot;&gt;
                                                            &lt;p&gt;People who work here say: The people. Everyone here works as hard as they can toward a shared mission.&lt;/p&gt;

                                                            &lt;p&gt;They also say: Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.&lt;/p&gt;                                                         &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;&lt;!-- /example --&gt;                                            &lt;/div&gt;
                                        &lt;/div&gt;


                                    &lt;/div&gt;

                                &lt;/div&gt;

                            &lt;div class=&quot;col-sm-2&quot;&gt;
                                &lt;div class=&quot;job-new-button-sidebar&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-success btn-lg&quot;&gt;
                                        Apply &lt;span class=&quot;fa fa-chevron-right&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                        Favorite &lt;span class=&quot;fa fa-star-o&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;

                            &lt;/div&gt;

                        &lt;/div&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;col-lg-8&quot;&gt;
                                &lt;div class=&quot;main-box clearfix&quot;&gt;




                                    &lt;!--&lt;header class=&quot;main-box-header clearfix&quot;&gt;--&gt;
                                        &lt;!--&lt;h2&gt;Medical Support Assistant&lt;/h2&gt;--&gt;
                                    &lt;!--&lt;/header&gt;--&gt;
                                 &lt;!----&gt;
                                    &lt;!--&lt;div class=&quot;main-box-body clearfix&quot;&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;dl class=&quot;dl-horizontal&quot;&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Location:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;Indianapolis, IN&lt;/dd&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Company:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;Veterans Health Administration&lt;/dd&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Minimum Experience:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;1&lt;/dd&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Match Score:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;95%&lt;/dd&gt;--&gt;
                                            &lt;!--&lt;/dl&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;p&gt;--&gt;
                                                &lt;!--&lt;a href=&quot;http://www.vacareers.va.gov/vacareers/job-search/job-detail.asp?job=13a4ec-medical-support-assistant-indianapolis-in&quot; class=&quot;btn btn-primary&quot;&gt;--&gt;
                                                    &lt;!--&lt;i class=&quot;fa fa-lg&quot;&gt;&lt;/i&gt; Apply--&gt;
                                                &lt;!--&lt;/a&gt;--&gt;
                                            &lt;!--&lt;/p&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;p&gt;This position is located in PCS/Clinical Support Service. Incumbent in this roles will be responsible for performing a variety of administrative and clerical duties and is the liaison between the nursing staff in their assigned area and customers both internal and external to the medical center.&lt;/p&gt;--&gt;
                                            &lt;!--&lt;p&gt;Specialized experience includes, but is not limited, to the following:&lt;/p&gt;--&gt;
                                            &lt;!--&lt;ul&gt;--&gt;
                                                &lt;!--&lt;li&gt;Scheduling, canceling and rescheduling patients discharge appointments.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Accurately and timely processing patient information, admits, discharge, appointments and transfers in computer system.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Arranging and coordinating in-patient procedure appointments for timeliness.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Maintaining office supplies.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Providing professional and courteous customer service.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Assisting with the orientation/on the job training of new staff.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Completing work orders and contacting appropriate staff when requested for emergency repairs or special requests.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Inputting and extracting data of a highly technical nature.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Interpreting and transcribing doctors orders.&lt;/li&gt;--&gt;
                                                &lt;!--&lt;li&gt;Maintaining patient records, scanning, quality control&lt;/li&gt;--&gt;
                                            &lt;!--&lt;/ul&gt;--&gt;
                                            &lt;!--&lt;p&gt;Work Schedule: 2 shifts available&lt;/p&gt;--&gt;
                                            &lt;!--&lt;p&gt;SHIFT 1: 7:30AM  4:00PM, Monday through Friday working every THIRD weekend with rotating holidays. Note: Dayshift position will provide backup coverage to Decedent Affairs, duties include but not limited to releasing deceased veterans to funeral homes, updating patient deaths, providing information regarding death benefits, updating Advance Directive information in patient records.&lt;/p&gt;--&gt;
                                            &lt;!--&lt;p&gt;SHIFT 2: 3:30PM  12Midnight, Monday-Friday working every OTHER weekend with rotating holidays.&lt;/p&gt;--&gt;
                                            &lt;!--&lt;p&gt;Functional Statement Title/#: Medical Support Assistant, GS-679-5&lt;/p&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;dl class=&quot;dl-horizontal&quot;&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Location:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;Indianapolis, IN&lt;/dd&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Company:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;Veterans Health Administration&lt;/dd&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Minimum Experience:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;1&lt;/dd&gt;--&gt;
                                                &lt;!--&lt;dt&gt;Match Score:&lt;/dt&gt;--&gt;
                                                &lt;!--&lt;dd&gt;95%&lt;/dd&gt;--&gt;
                                            &lt;!--&lt;/dl&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                        &lt;!--&lt;div class=&quot;row&quot;&gt;--&gt;
                                            &lt;!--&lt;p&gt;--&gt;
                                                &lt;!--&lt;a href=&quot;http://www.vacareers.va.gov/vacareers/job-search/job-detail.asp?job=13a4ec-medical-support-assistant-indianapolis-in&quot; class=&quot;btn btn-primary&quot;&gt;--&gt;
                                                    &lt;!--&lt;i class=&quot;fa fa-lg&quot;&gt;&lt;/i&gt; Apply--&gt;
                                                &lt;!--&lt;/a&gt;--&gt;
                                            &lt;!--&lt;/p&gt;--&gt;
                                        &lt;!--&lt;/div&gt;--&gt;
                                    &lt;!--&lt;/div&gt;--&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}

            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;