&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{#is_cs}}
                            {{&gt; molecules-cs-left-nav }}
                        {{/is_cs}}

                        {{#is_js}}
                            {{&gt; molecules-left-nav }}
                        {{/is_js}}

                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;

                            &lt;div class=&quot;posting-wrapper&quot;&gt;

                                    {{#is_cs}}

                                    &lt;div class=&quot;row hidden-lg&quot;&gt;
                                        &lt;div class=&quot;col-md-12&quot;&gt;

                                        &lt;div class=&quot;col-xs-4 margin-bottom-16&quot;&gt;
                                            {{&gt; organisms-create-to-do-button }}
                                        &lt;/div&gt;
                                        &lt;div class=&quot;col-xs-4 margin-bottom-16&quot;&gt;
                                            {{&gt; organisms-recommend-button }}
                                        &lt;/div&gt;

                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    {{/is_cs}}

                                &lt;div class=&quot;row hidden-lg&quot;&gt;
                                    &lt;div class=&quot;col-md-12&quot;&gt;

                                     {{&gt; organisms-what-do-you-think }}

                                    &lt;/div&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-8&quot;&gt;
                                    &lt;div class=&quot;main-box clearfix&quot;&gt;
                                        &lt;div class=&quot;col-lg-8&quot;&gt;
                                            &lt;h1&gt;{{ title }}&lt;/h1&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box card&quot;&gt;
                                                &lt;h2&gt;Company&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                &lt;div class=&quot;col-sm-4&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/va-logo.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-8&quot;&gt;
                                                    &lt;h4&gt;Veterans Health Administration&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;Formed: 1718&lt;/li&gt;
                                                            &lt;li&gt;Annual Budget: $47 billion&lt;/li&gt;
                                                            &lt;li&gt;Employees: 279,792&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;bottom-links&quot;&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Website&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Wikipedia&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Google Plus&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box card-orange card&quot;&gt;
                                                &lt;h2&gt;Location&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-4&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/map.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-8&quot;&gt;
                                                        &lt;h4&gt;Indianapolis, IN&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;Population: 820,445&lt;/li&gt;
                                                            &lt;li&gt;Avg. Monthly Cost: 2.5k&lt;/li&gt;
                                                            &lt;li&gt;Humid Continental Climate&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;bottom-links&quot;&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Events&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Points of Interest&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Neighborhoods&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box card-purple card&quot;&gt;
                                                &lt;h2&gt;Schedule&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-4&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/clock.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-8&quot;&gt;
                                                        &lt;h4&gt;40hr Week&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;8 hr days&lt;/li&gt;
                                                            &lt;li&gt;5 days per week&lt;/li&gt;
                                                            &lt;li&gt;3 weeks time off&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;bottom-links&quot;&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Vacation Policy&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sick / Personal Day Policy&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-6&quot;&gt;
                                            &lt;div class=&quot;main-box card-yellow card&quot;&gt;
                                                &lt;h2&gt;Compensation&lt;/h2&gt;
                                                &lt;div class=&quot;row&quot;&gt;
                                                    &lt;div class=&quot;col-sm-6&quot;&gt;
                                                        &lt;img src=&quot;/img/job-new/compensation-graph.png&quot; /&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class=&quot;col-sm-6&quot;&gt;
                                                        &lt;h4&gt;$29,600 Annual&lt;/h4&gt;
                                                        &lt;ul&gt;
                                                            &lt;li&gt;$2,466 Monthly&lt;/li&gt;
                                                            &lt;li&gt;$15.40 Hourly&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;

                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-sm-12&quot;&gt;
                                            &lt;div class=&quot;main-box tab-box minimal-tabs&quot;&gt;
                                                &lt;div class=&quot;bs-example bs-example-tabs&quot; data-example-id=&quot;togglable-tabs&quot;&gt;
                                                    &lt;ul id=&quot;myTabs&quot; class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                                                        &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;#you&quot; id=&quot;home-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;home&quot; aria-expanded=&quot;true&quot;&gt;You&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#the-job&quot; role=&quot;tab&quot; id=&quot;profile-tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;profile&quot;&gt;The Job&lt;/a&gt;&lt;/li&gt;
                                                        &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#what-its-like&quot; role=&quot;tab&quot; id=&quot;profile-tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;profile&quot;&gt;What It's Like&lt;/a&gt;&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                    &lt;div id=&quot;myTabContent&quot; class=&quot;tab-content&quot;&gt;
                                                        &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade in active&quot; id=&quot;you&quot; aria-labelledBy=&quot;home-tab&quot;&gt;
                                                            &lt;p&gt;This position is located in PCS/Clinical Support Service. Incumbent in this roles will be responsible for performing a variety of administrative and clerical duties and is the liaison between the nursing staff in their assigned area and customers both internal and external to the medical center.&lt;/p&gt;
                                                            &lt;p&gt;Specialized experience includes, but is not limited, to the following:&lt;/p&gt;
                                                            &lt;ul&gt;
                                                            &lt;li&gt;Scheduling, canceling and rescheduling patients discharge appointments.&lt;/li&gt;
                                                            &lt;li&gt;Accurately and timely processing patient information, admits, discharge, appointments and transfers in computer system.&lt;/li&gt;
                                                            &lt;li&gt;Arranging and coordinating in-patient procedure appointments for timeliness.&lt;/li&gt;
                                                            &lt;li&gt;Maintaining office supplies.&lt;/li&gt;
                                                            &lt;li&gt;Providing professional and courteous customer service.&lt;/li&gt;
                                                            &lt;li&gt;Assisting with the orientation/on the job training of new staff.&lt;/li&gt;
                                                            &lt;li&gt;Completing work orders and contacting appropriate staff when requested for emergency repairs or special requests.&lt;/li&gt;
                                                            &lt;li&gt;Inputting and extracting data of a highly technical nature.&lt;/li&gt;
                                                            &lt;li&gt;Interpreting and transcribing doctors orders.&lt;/li&gt;
                                                            &lt;li&gt;Maintaining patient records, scanning, quality control&lt;/li&gt;
                                                            &lt;/ul&gt;                                                        &lt;/div&gt;
                                                        &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;the-job&quot; aria-labelledBy=&quot;profile-tab&quot;&gt;
                                                            &lt;p&gt;This is where the job description goes, if it exists.&lt;/p&gt;
                                                            &lt;p&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                        &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;what-its-like&quot; aria-labelledBy=&quot;dropdown1-tab&quot;&gt;
                                                            &lt;p&gt;People who work here say: The people. Everyone here works as hard as they can toward a shared mission.&lt;/p&gt;

                                                            &lt;p&gt;They also say: Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.&lt;/p&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;&lt;!-- /example --&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                                {{#is_cs}}

                                    &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                        {{&gt; organisms-create-to-do-button }}
                                    &lt;/div&gt;
                                    &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                        {{&gt; organisms-recommend-button }}
                                    &lt;/div&gt;

                                {{/is_cs}}

                                &lt;div class=&quot;col-lg-4&quot;&gt;

                                     {{&gt; organisms-what-do-you-think }}

                                    {{&gt; organisms-bdubs-conversation-small }}
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}

            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-create-to-do-modal }}
{{&gt; organisms-recommend-modal }}