&lt;div class=&quot;main-box clearfix&quot;&gt;
    &lt;div class=&quot;main-box-header&quot;&gt;
        &lt;h2&gt;Ask for help&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;main-box-body clearfix&quot;&gt;
        {{&gt; molecules-contact-career-services }}
    &lt;/div&gt;
&lt;/div&gt;