&lt;div class=&quot;col-lg-8&quot;&gt;
    &lt;div class=&quot;main-box&quot;&gt;
        &lt;header class=&quot;main-box-header clearfix&quot;&gt;
            &lt;h2&gt;Education&lt;/h2&gt;
        &lt;/header&gt;

        &lt;div class=&quot;main-box-body clearfix&quot;&gt;
            &lt;form role=&quot;form&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label&gt;Current Status&lt;/label&gt;
                        &lt;div class=&quot;radio&quot;&gt;
                            &lt;input name=&quot;currentstatus&quot; id=&quot;optionsRadios1&quot; value=&quot;option1&quot; checked=&quot;&quot; type=&quot;radio&quot;&gt;
                            &lt;label for=&quot;optionsRadios1&quot;&gt;
                                Student
                            &lt;/label&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;radio&quot;&gt;
                            &lt;input name=&quot;currentstatus&quot; id=&quot;optionsRadios2&quot; value=&quot;option2&quot; type=&quot;radio&quot;&gt;
                            &lt;label for=&quot;optionsRadios2&quot;&gt;
                                Alumni
                            &lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label&gt;Degree Type&lt;/label&gt;
                        &lt;div class=&quot;radio&quot;&gt;
                            &lt;input name=&quot;optionsRadios&quot; id=&quot;optionsRadios3&quot; value=&quot;option3&quot; checked=&quot;&quot; type=&quot;radio&quot;&gt;
                            &lt;label for=&quot;optionsRadios3&quot;&gt;
                                Undergraduate
                            &lt;/label&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;radio&quot;&gt;
                            &lt;input name=&quot;optionsRadios&quot; id=&quot;optionsRadios4&quot; value=&quot;option4&quot; type=&quot;radio&quot;&gt;
                            &lt;label for=&quot;optionsRadios4&quot;&gt;
                                Graduate
                            &lt;/label&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;radio&quot;&gt;
                            &lt;input name=&quot;optionsRadios&quot; id=&quot;optionsRadios5&quot; value=&quot;option5&quot; type=&quot;radio&quot;&gt;
                            &lt;label for=&quot;optionsRadios5&quot;&gt;
                                MBA
                            &lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;school&quot;&gt;School&lt;/label&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input id=&quot;school&quot; class=&quot;form-control&quot; placeholder=&quot;Columbia University&quot; type=&quot;text&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;year&quot;&gt;Year&lt;/label&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input id=&quot;year&quot; class=&quot;form-control&quot; placeholder=&quot;06/2010&quot; type=&quot;text&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;form-group&quot;&gt;
                        &lt;label for=&quot;major&quot;&gt;Major/Concentration&lt;/label&gt;
                        &lt;div class=&quot;input-group&quot;&gt;
                            &lt;input id=&quot;major&quot; class=&quot;form-control&quot; placeholder=&quot;Nursing&quot; type=&quot;text&quot;&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-md-6&quot;&gt;
                        &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Update&lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

            &lt;/form&gt;
        &lt;/div&gt;

    &lt;/div&gt;
&lt;/div&gt;