&lt;div id=&quot;theme-wrapper&quot; class=&quot;card-posting&quot;&gt;
    {{&gt; organisms-header }}
    &lt;div id=&quot;page-wrapper&quot; class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div id=&quot;nav-col&quot;&gt;
                &lt;section id=&quot;col-left&quot; class=&quot;col-left-nano&quot;&gt;
                    &lt;div id=&quot;col-left-inner&quot; class=&quot;col-left-nano-content&quot;&gt;
                        {{&gt; molecules-employer-left-nav }}
                    &lt;/div&gt;
                &lt;/section&gt;
            &lt;/div&gt;
            &lt;div id=&quot;content-wrapper&quot;&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-lg-12&quot;&gt;

                        &lt;div class=&quot;row&quot;&gt;
                            &lt;div class=&quot;posting-wrapper&quot;&gt;
                                &lt;div class=&quot;col-lg-8&quot;&gt;
                                    &lt;div class=&quot;main-box clearfix&quot;&gt;
                                        &lt;h1&gt;{{ title }}&lt;/h1&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;row hidden-lg&quot;&gt;
                                    &lt;div class=&quot;col-xs-6 margin-bottom-16&quot;&gt;
                                        {{&gt; organisms-create-to-do-button }}
                                    &lt;/div&gt;
                                    &lt;div class=&quot;col-xs-6 margin-bottom-16 text-right&quot;&gt;
                                        {{&gt; organisms-new-message-button }}
                                    &lt;/div&gt;

                                    &lt;div class=&quot;col-xs-6 margin-bottom-16 text-right&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg text-right&quot;&gt;
                                            Contact Later &lt;span class=&quot;fa fa-lightbulb-o&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;col-xs-6 margin-bottom-16&quot;&gt;
                                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                            Save for Later &lt;span class=&quot;fa fa-bookmark&quot;&gt;&lt;/span&gt;
                                        &lt;/button&gt;
                                    &lt;/div&gt;

                                    &lt;/div&gt;

                                    &lt;div class=&quot;row&quot;&gt;
                                        &lt;div class=&quot;col-lg-6&quot;&gt;
                                            &lt;div class=&quot;main-box card&quot;&gt;
                                                &lt;h2&gt;Personal Details&lt;/h2&gt;
                                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Email: &lt;a href=&quot;#&quot;&gt;sonya.frost@gmail.com&lt;/a&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Degree/Program: &lt;strong&gt;Medical Assistant&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Phone: &lt;strong&gt;(312) 999-9999&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Resume: &lt;span class=&quot;file&quot;&gt;&lt;a href=&quot;{{ link.pages-cs-student-resume }}&quot; type=&quot;application/vnd.openxmlformats-officedocument.wordprocessingml.document; length=18266&quot;&gt;my_resume.docx&lt;/a&gt;&lt;/span&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;# Personalized Jobs: &lt;a href=&quot;{{ link.pages-cs-job-matches}}&quot;&gt;8&lt;/a&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;

                                        &lt;div class=&quot;col-lg-6&quot;&gt;
                                            &lt;div class=&quot;main-box card-orange card&quot;&gt;
                                                &lt;h2&gt;Job Preferences&lt;/h2&gt;
                                                &lt;div class=&quot;main-box-body clearfix&quot;&gt;
                                                    &lt;div class=&quot;col-sm-12&quot;&gt;
                                                        &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Job Areas: &lt;strong&gt;General Management / Business, Marketing, Project Management&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Locations: &lt;strong&gt;St. Louis, MO&lt;/strong&gt;&lt;/li&gt;
                                                            &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Experience: &lt;strong&gt;1-2 Years&lt;/strong&gt;&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;

                                    &lt;div class=&quot;main-box tab-box minimal-tabs&quot;&gt;
                                        &lt;div class=&quot;bs-example bs-example-tabs&quot; data-example-id=&quot;togglable-tabs&quot;&gt;
                                            &lt;ul id=&quot;myTabs&quot; class=&quot;nav nav-tabs&quot; role=&quot;tablist&quot;&gt;
                                                &lt;li role=&quot;presentation&quot; class=&quot;active&quot;&gt;&lt;a href=&quot;#to-dos-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;to-dos-tab&quot;&gt;To-Dos&lt;/a&gt;&lt;/li&gt;
                                                &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#engagement-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;engagement-tab&quot; aria-expanded=&quot;true&quot;&gt;Engagement&lt;/a&gt;&lt;/li&gt;
                                                &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#messages-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;messages-tab&quot;&gt;Messages&lt;/a&gt;&lt;/li&gt;
                                                &lt;li role=&quot;presentation&quot;&gt;&lt;a href=&quot;#verified-tab&quot; role=&quot;tab&quot; data-toggle=&quot;tab&quot; aria-controls=&quot;verified-tab&quot;&gt;Verification&lt;/a&gt;&lt;/li&gt;
                                            &lt;/ul&gt;
                                            &lt;div id=&quot;myTabContent&quot; class=&quot;tab-content&quot;&gt;
                                                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade in active&quot; id=&quot;to-dos-tab&quot; aria-labelledBy=&quot;to-dos-tab&quot;&gt;
                                                    {{&gt; organisms-to-dos-student-cs }}
                                                &lt;/div&gt;
                                                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;messages-tab&quot; aria-labelledBy=&quot;messages-tab&quot;&gt;
                                                    {{&gt; organisms-messages-list }}
                                                &lt;/div&gt;
                                                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;engagement-tab&quot; aria-labelledBy=&quot;engagement-tab&quot;&gt;
                                                    &lt;ul class=&quot;fa-ul no-padding no-image&quot;&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Sonya was last active &lt;strong&gt;3 days ago&lt;/strong&gt;.&lt;/li&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;They have previewed &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;13&lt;/a&gt;&lt;/strong&gt; jobs, down-voted &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/strong&gt; jobs, and up-voted &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;8&lt;/a&gt;&lt;/strong&gt; jobs.&lt;/li&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;Sonya also has viewed &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;8&lt;/a&gt;&lt;/strong&gt; jobs, and shown interest in applying to &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/strong&gt; jobs.&lt;/li&gt;
                                                        &lt;li&gt;&lt;i class=&quot;fa-li&quot;&gt;&lt;/i&gt;They have completed &lt;strong&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/strong&gt; to-dos.&lt;/li&gt;
                                                    &lt;/ul&gt;
                                                &lt;/div&gt;
                                                &lt;div role=&quot;tabpanel&quot; class=&quot;tab-pane fade&quot; id=&quot;verified-tab&quot; aria-labelledBy=&quot;verified-tab&quot;&gt;
                                                    &lt;p&gt;&lt;i class=&quot;fa fa-star-half-o&quot;&gt;&lt;/i&gt; Nothing here yet!&lt;/p&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;&lt;!-- /example --&gt;
                                    &lt;/div&gt;

                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    {{&gt; organisms-create-to-do-button }}
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    {{&gt; organisms-new-message-button }}
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                        Contact Later &lt;span class=&quot;fa fa-lightbulb-o&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4 margin-bottom-16 visible-lg&quot;&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;
                                        Save for Later &lt;span class=&quot;fa fa-bookmark&quot;&gt;&lt;/span&gt;
                                    &lt;/button&gt;
                                &lt;/div&gt;

                                &lt;div class=&quot;col-lg-4&quot;&gt;
                                    {{&gt; organisms-bdubs-conversation-small }}
                                    &lt;div class=&quot;main-box&quot;&gt;
                                        &lt;h2&gt;Recent Activity&lt;/h2&gt;
                                        &lt;div class=&quot;main-box-body clearfix margin-top-20&quot;&gt;
                                            &lt;div class=&quot;col-sm-12&quot;&gt;
                                                {{&gt; organisms-activity-profile-view }}
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;

                    &lt;/div&gt;
                &lt;/div&gt;

                {{&gt; organisms-footer }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-create-to-do-modal }}
{{&gt; organisms-new-message-modal }}
