    &lt;form role=&quot;form&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label for=&quot;school&quot;&gt;First Name&lt;/label&gt;
                &lt;div class=&quot;input-group&quot;&gt;
                    &lt;input id=&quot;school&quot; class=&quot;form-control&quot; placeholder=&quot;Jane&quot; type=&quot;text&quot;&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;form-group&quot;&gt;
                &lt;label for=&quot;school&quot;&gt;Last Name&lt;/label&gt;
                &lt;div class=&quot;input-group&quot;&gt;
                    &lt;input id=&quot;school&quot; class=&quot;form-control&quot; placeholder=&quot;Awesome&quot; type=&quot;text&quot;&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;row&quot;&gt;
                {{&gt; molecules-select-job-area }}
            &lt;/div&gt;

        &lt;/div&gt;

        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-6&quot;&gt;
                &lt;button type=&quot;submit&quot; class=&quot;btn btn-success&quot;&gt;Save Details&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;

    &lt;/form&gt;
